<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.personaltutoringservice">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalTutoringService"
        tools:targetApi="31">

        <!-- 🔥 NEW: Tutor Detail Screen -->
        <activity
            android:name=".TutorDetailActivity"
            android:exported="false" />

        <activity
            android:name=".MyTutoringRequestsActivity"
            android:exported="false" />

        <activity
            android:name=".ActivateTutorServicesActivity"
            android:exported="false" />

        <activity
            android:name=".TutorHomePageActivity"
            android:exported="false" />

        <activity
            android:name=".BecomeTutorActivity"
            android:exported="false" />

        <activity
            android:name=".MyTutorsActivity"
            android:exported="false" />

        <activity
            android:name=".SearchTutorsActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".RecoveryActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />

        <activity
            android:name=".MessageActivity"
            android:exported="false" />

        <activity
            android:name=".PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>